:root{
    --categoryWidth:calc(100% / 3);
    --header-height:3rem;
}
*{
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    padding: 0;
}
.upgrade-img{
    display: flex;
    align-items: center;
    margin-right: 8px;
}
.upgrade-img>img{
    height: 100%;
    width: 100%;
}
header{
    height:var(--header-height);
    background-color: black;
    text-align: center;
    padding: 12px;
    color:white;
}
main{
    display: flex;
    width: 100%;
    height: calc(100svh - var(--header-height));
    background-color: black;
}
#stats{
    height: 100%;
    width: var(--categoryWidth);
    background-color: rgb(234, 10, 10);
    display: grid;
    grid:repeat(4,100px)/1fr
}
#stats-clicks{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#stats-upgrades{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#main-game{
    display: flex;
    flex-direction: column;
    place-content: center;
    align-items: center;
    justify-content: space-around;
    width:var(--categoryWidth);
    padding: 50px;
}
#leah{
    place-self: center;
    width: 250px;
    height: 250px;
}
#leah>img{
    height: 100%;
    width: 100%;
    border-radius: 100%;
}
#leah>img:active{
    scale: 1.1;
}


#upgrades{
    display: flex;
    flex-direction:column ;
    align-items: center;
    justify-content: start;
    gap:50px;
    padding: 20px;
    height: 100%;
    width: var(--categoryWidth);
    background-color: white;
}
.upgrade{
    display: flex;
    flex-direction:column ;
    background-color: blue;
    width: 90%;
    height: 150px;
}
.upgrade-name{
    text-align: center;
}
.upgrade-price{
    font-size: 1.2rem;
}
.upgrade-body{
    height: 100%;
    display:grid;
    grid-template-columns: 1fr 2fr 1fr;
    background-color: red;
}
#monster-count{
    display: flex;
    align-items: center;
    height: 15%;
    justify-content:center ;

}
#count-img>img{
    height: 100px;
    rotate: 20deg;
}
#count-amount{
    place-self: end;
    color: white;
    font-size: 3rem;
}

.upgrade-buttons{
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 30px;
}
.upgrade-buttons,
.upgrade-buttons>button{
    width: 100%;
}
